<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>role</th>
        <th>email</th>
        <th>password</th>
        <th>phone</th>
        <th>description</th>

        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:utext="${account.id}">...</td>
        <td th:utext="${account.role.name}">...</td>
        <td th:utext="${account.email}">...</td>
        <td th:utext="${account.password}">...</td>
        <td th:utext="${account.phone}">...</td>
        <td th:utext="${account.description}">...</td>

        <td>
            <form th:action="@{edit/{id}(id=${account.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="POST" th:action="@{delete/{id}(id=${account.getId()})}" th:object="${account}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>
<form>
    <input type="submit" value="Add" formaction="new"/>
    <input type="submit" value="Main page" formaction="../main"/>
</form>

</body>
</html>