<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div class="topnav">
        <a href="../admin/main">Admin panel</a>
        <a href="../user/contact">Contact</a>
        <a href="#" th:href="@{/logout}">Log Out</a>
    </div>

    <h1>Admin panel</h1>
    <form>
        <input type="submit" value="Accounts" formaction="./accounts/"/>
        <input type="submit" value="Country" formaction="./country/"/>
    </form>

</head>
<body>

</body>
</html>